# ======================================================
# LOCAL DEVELOPMENT CONFIGURATIONS: DISCORD BOT
# ======================================================
# The following environment variables drive local development configurations. 
# They are not required for production deployments, as production deployments 
# should use Kubernetes Secrets and ConfigMaps instead.

# DISCORD_TOKEN=your_discord_bot_token_here