# ======================================================
# LOCAL DEVELOPMENT CONFIGURATIONS: CONTROL PLANE API
# ======================================================
# The following environment variables drive local development configurations. 
# They are not required for production deployments, as production deployments 
# should use Kubernetes Secrets and ConfigMaps instead.

PORT=8080
GAMESERVER_ISSERVER_TAG_KEY=IsGameServer
GAMESERVER_NAME_TAG_KEY=Name
GAMESERVER_DESCRIPTOR_TAG_KEY=Game