# ======================================================
# LOCAL DEVELOPMENT CONFIGURATIONS: CONTROL PLANE WEB
# ======================================================
# The following environment variables drive local development configurations. 
# They are not required for production deployments, as production deployments 
# should use Kubernetes Secrets and ConfigMaps instead.

# PORT=3000